{% extends "layout.html.twig" %}

{% block content %}

    {% for p in products %}
        <div class="prd">
            <h3>{{p.name}}</h3>
            <div>{{p.price}}</div>
            <a href="add2cart.php?id={{p.id}}">خرید</a>
            <a href="view.php?id={{p.id}}">نمایش محصول</a>
        </div>
    {% endfor %}

{% endblock %}
