{% extends "layout.html.twig" %}

{% block content %}
    {% if message is not empty %}
        <strong>{{message}}</strong>
    {% endif %}
    <form action="" method="post">
        Email: <input type="text" name="email"><br>
        <input type="submit">
    </form>
{% endblock %}