{% extends "layout.html.twig" %}

{% block content %}
    {% if message is not empty %}
        <strong>{{message}}</strong>
    {% endif %}
    <form action="" method="post">
        Password: <input type="password" name="password"><br>
        Confirm Password: <input type="password" name="cpassword"><br>
        <input type="submit">
    </form>
{% endblock %}